// a and b constants are Tx and Rx pins 

void setup() {
  // initialize both serial ports:
  Serial.begin(9600);
  Serial1.begin(9600);
}

void loop() {
  // read from port a, send to port b:
  if (Serial1.available()) {
    int inByte = Serial1.read();
    Serial.write(inByte);
  }


}
